.container {
  margin: 0 auto;
  width: 750px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

#turtles {
  padding-top: 100px;
}

#pricing{
  -webkit-column-count: 3; 
  -moz-column-count: 3; 
  column-count: 3;

}

/*#pricing {
 /* padding-top: 50px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera 
  -moz-column-count: 3; /* Firefox 
    column-count: 3;
 
}*/

.main-title {
  text-align: center;
}

.feature {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
    column-count: 2;
}